<?xml version="1.0"?>

<!--
For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>

  </system.web>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        
      </customHeaders>
    </httpProtocol>
  </system.webServer>

  <connectionStrings>
    <add name="belsisDB" connectionString="server=beldb4\sql2008r2;database=bilecik;uid=sa;password=ada11sql;" />
  </connectionStrings>

  <appSettings>
    <add key="sayacTipi" value="Manas" />
    <!-- Desteklenen Sayaç Tipleri: Manas -->
    <add key="bankaAdi" value="HalkBank" />
    <!-- Desteklenen Bankalar: HalkBank -->
    <add key="PosOturumKimligi" value="bilecikkiosk" />
    <!--
    <add key="posWebService" value="http://localhost:49917/onlinePosServis.asmx" />
    <add key="BelsisOnlineSuServis" value="http://belapp/belsis-net/webservis/mobilWebServis/onlineSuServis.asmx" />
    -->

    <add key="posWebService" value="http://localhost:49917/onlinePosServis.asmx" />
    <add key="BelsisOnlineSuServis" value="http://belapp/belsis-net/webservis/mobilWebServis/onlinesuServis.asmx" />
    
    <add key="vs:EnableBrowserLink" value="false" />

    <add key="KullaniciAdi" value="sa" />
    <add key="Sifre" value="ada11sql" />    
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="onlineSuServisSoap"  />
        <binding name="onlinePosServisSoap" openTimeout="00:10:00" sendTimeout="00:10:00" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://belapp/belsis-net/webservis/mobilWebServis/onlinesuServis.asmx"
        binding="basicHttpBinding" bindingConfiguration="onlineSuServisSoap"
        contract="BelsisOnlineSuServis.onlineSuServisSoap" name="onlineSuServisSoap" />
      <endpoint address="http://localhost:49917/onlinePosServis.asmx"
        binding="basicHttpBinding" bindingConfiguration="onlinePosServisSoap"
        contract="BelsisPosWebServis.onlinePosServisSoap" name="onlinePosServisSoap" />
    </client>
  </system.serviceModel>
</configuration>